.match img {
    width:   285px;
    height: auto;
    border-radius: 20px;
    
}

.match {  
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
  }

  .makecard{
    width: 290px;
    height: 229px;
    background-color: white;
    border-radius: 16px;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .makecard p:first-child {
    font-family: 'Pretendard', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6B7280;
    margin: 0;
    margin-bottom: 8px;
}

.makecard p:nth-child(2) {
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    margin-bottom: 24px;
}


  .makecard button{
    width: 248px;
height: 40px; 
    border-radius: 200px;
background: #FF9494;
border: none  ;
color: #FFF;
text-align: center;
font-family: Pretendard; 
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 90%; 
letter-spacing: -0.4px;
      }

  .offModeContent {
    margin-top: 23px;
    width: 290px;
height: 193px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
.matchoff img{
  margin-top: 20px;
  width:   290px;
  height: auto;
  border-radius: 20px;
}

.offModeContent p {
  font-family: 'Pretendard', sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-bottom: 35px;
}


  .offModeContent button {
    width: 248px;
height: 40px; 
    border-radius: 200px;
background: #FF9494;
border: none  ;
color: #FFF;
text-align: center;
font-family: Pretendard; 
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 90%; 
letter-spacing: -0.4px;
}


/* 여기 밑에는 수정하기 */

/* .card {
  cursor: pointer;
  display: inline-block;
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

.card img {
  width: 100%;
  height: auto;
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.card.flipped .front {
  transform: rotateY(180deg);
}

.card.flipped .back {
  transform: rotateY(360deg);
}

.buttons {
  margin-top: 20px;
} */

/*    */

.title {
  font-family: 'Pretendard', sans-serif;
  margin-top: 36px;
  font-size: 28px;
  font-style: normal;
font-weight: 1000; 
}

.exhaustcard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 290px;
height: 483px;
  background-color: white;
  border-radius: 16px;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.exhaustcard img{
  margin-top: 28px;
  margin-bottom: 35px;
  width: 232px;
  height: 232px;
}

.subtitle {
  font-family: 'Pretendard', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  color: #555;
  margin-bottom: 16px;
}

.inviteButton {
  font-family: 'Pretendard', sans-serif;
  width: 248px;
  height: 40px;
  background-color: #ff9494;
  color: white;
  border: none;
  border-radius: 200px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

 .backContent{
  width: 285px;
  height: 410px;
  background-color: white;
  border-radius: 16px 16px 0px 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  align-items: center;
}


.imageStackContainer {
    position: relative;
    width: 285px; /* 이미지 컨테이너 크기 */
    height: 380px;
    cursor: pointer;
    /* background-color: white; */
    border-radius: 16px;
    margin-bottom: 30px;
}

.imageStackContainer img {
  height: 380px;
  border-radius: 16px 16px 0px 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.cardImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 290px; /* 이미지 컨테이너 크기 */
    height: 380px;
    object-fit: cover;
    transition: transform 0.5s ease, z-index 0s ease 0.5s;
}

.position0 {
    z-index: 3;
    transform: translateY(30px) scale(1);
}

.position1 {
    z-index: 2;
    transform: translateY(5.5px) scale(0.95);
}

.position2 {
    z-index: 1;
    transform: translateY(-19px) scale(0.9);
}

.imageStackContainer:active .cardImage {
    transition: transform 0.2s ease;
}

.imageStackContainer:hover .position1, 
.imageStackContainer:hover .position2 {
    transform: translateY(30px) scale(0.98);
}

.imageStackContainer:hover .position0 {
    transform: translateY(30px) scale(1);
}

/* 나머지 기존 CSS 코드 */

.cardcontain{
  background-color: white;
}




/* From Uiverse.io by andrew-demchenk0 */ 
.flipbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  /* gap: 8px; */
  /* height: 34px; */
  /* width: 112px; */
  border: none;
  background: #ff362b34;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease; /* 색상 변화와 배경 변화에 대한 전환 */
  margin-bottom: 5px;
  margin-right: 5px;

}

.fliplabel {
  line-height: 20px;
  font-size: 17px;
  color: #FFE3E1;
  font-family: sans-serif;
  letter-spacing: 1px;
  transition: color 0.3s ease; /* 텍스트 색상 변화에 대한 전환 */

}

.flipbutton:hover {
  background: #ff362b52;
  
}

.flipbutton:hover .flipicon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.reportcontainer {
  position: relative;
  display: flex;
  width: 285px;
  justify-content: right;
  margin-top: 15px;
}

.reportcontainer i{
color : rgb(133, 133, 133);
}

.dropdownMenu {
  position: absolute;
  top: 20px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
  z-index: 100;
}

.dropdownMenu button {
  background: none;
  border: none;
  color: #FF9494;
  padding: 8px 16px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdownMenu button:hover {
  background-color: #f5f5f5;
}

.bi-three-dots {
  font-size: 24px;
  cursor: pointer;
}

.cardbottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 285px;
  height: 70px;
  background-color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 0px 16px 16px;
  padding: 0 20px;
}

.cardbuttomtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-family: 'Pretendard', sans-serif;
  margin-left: 5px;
}

.cardbuttomtext p:first-child {
  font-size: 15px;
  font-weight: 400;
  color: #4A4A4A;
  margin-bottom: 5px;
}

.cardbuttomtext p:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: #9B9B9B;
  margin: 0;
}

.tagContainer{
  margin-top: 19px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  width: 256px;
height: 120px;
border: 3px dashed #FF9494;
display: flex;
flex-direction: column;
}

.introContainer{
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  margin-bottom: 8px;
  width: 256px;
height: 120px;
border: 3px dashed #FF9494;
}

.longtext1{
  overflow-y: auto; 
  margin-left: 5px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.longtext2{
  text-align: left;
  font-family: 'Pretendard', sans-serif;
  font-size: 14px;
  overflow-y: auto; 
  margin-left: 14px;
  margin-right: 3px;
  margin-bottom: 5px;
}


.sectionTitle {
  font-family: 'Pretendard', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 14px;
  margin-top: 12px;
}

.matesContainer .sectionTitle{
  margin-left: 0px;
}

.tag {
  display: inline-block;
  font-family: 'Pretendard', sans-serif;
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 5px 10px;
  margin: 3px;
  font-size: 12px;
  color: #555;
}

.matesSummary {
  font-size: 14px;
  color: #666;
}

.matesDropdown {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  /* border-top: 1px solid #ddd; */
  max-height: 60px; /* 최대 높이 설정 */
  overflow-y: auto; /* 스크롤 추가 */
  /* width: 50px; */
}

.matesDropdown li {
  font-size: 14px;
  color: #666;
  padding: 3px 0;
}

.matesDropdown::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
}

.matesDropdown::-webkit-scrollbar-track {
  background: #ff949425; /* 스크롤바 트랙 배경 */
  border-radius: 10px;
}

.matesDropdown::-webkit-scrollbar-thumb {
  background-color: #FF9494; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥글기 */
  /* border: 1px solid #f1f1f1; 스크롤바와 트랙 사이의 간격 */
}

.matesDropdown::-webkit-scrollbar-thumb:hover {
  background-color: #FF7A7A; /* 스크롤바 호버 색상 */
}

.longtext1::-webkit-scrollbar, .longtext2::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
}

.longtext1::-webkit-scrollbar-track, .longtext2::-webkit-scrollbar-track {
  /* background: #ff949425; 스크롤바 트랙 배경 */
  border-radius: 10px;
}

.longtext1::-webkit-scrollbar-thumb, .longtext2::-webkit-scrollbar-thumb {
  background-color: #FF9494; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥글기 */
  /* border: 1px solid #f1f1f1; 스크롤바와 트랙 사이의 간격 */
}

.longtext1::-webkit-scrollbar-thumb:hover, .longtext2::-webkit-scrollbar-thumb:hover {
  background-color: #FF7A7A; /* 스크롤바 호버 색상 */
}


.successlove {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 324px;
  height: 500px;
  max-width: 400px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  animation: slideIn 0.3s ease-out; /* 애니메이션 효과 추가 */
}

.asktomates{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 324px; 
  max-width: 324px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  animation: slideIn 0.3s ease-out; /* 애니메이션 효과 추가 */
}



@keyframes slideIn {
  from {
      opacity: 0;
      transform: translate(-50%, -60%);
  }
  to {
      opacity: 1;
      transform: translate(-50%, -50%);
  }
}

.successlove h1 {
  font-family: 'Pretendard', sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out; /* 애니메이션 효과 추가 */
}

.successlove img {
  width: 250px;
  max-width: 250px;
  height: 250px;
  max-width: 250px;
  border-radius: 10px;
  margin-bottom: 35px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  animation: popUp 0.5s ease-in-out; /* 애니메이션 효과 추가 */
  object-fit: cover;
}

.gotochat {
  font-family: 'Pretendard', sans-serif;
  background-color: #FF9494;
  color: #fff;
  font-size: 20px;
  font-weight: 700; 
  border: none;
  border-radius: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 250px;
  height: 45px;
  margin-bottom: 14px;
}

.gotochat:hover {
  background-color: #FF6B6B;
}

.closemodal {
  font-family: 'Pretendard', sans-serif;
  background-color: #B8B8B8;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 250px;
  height: 45px;
  margin-bottom: 12px;
}

.closemodal:hover {
  background-color: #a2a2a2;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes popUp {
  0% {
      transform: scale(0.8);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

/* Modal Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  animation: fadeOverlay 0.3s ease-in-out; /* 애니메이션 효과 추가 */
}

@keyframes fadeOverlay {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.asktomates hr {
  border: none;
  border-top: 1px solid #ddd;
  width: 324px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.asktomates h1 {
  font-size: 24px;
  font-weight: 400;
  color: #4A4A4A;
}

.gotomatechat{
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
}

.mate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  margin-left: 5px;
  margin-right: 15px;
}

.profileImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.mate p {
  font-family: 'Pretendard', sans-serif;
  flex: 1;
  text-align: left;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  color: #333;
}

.mate i{
  color: #FF9494;
  width: 24px;
}

.asktomates button {
  font-family: 'Pretendard', sans-serif;
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #FF9494;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.asktomates button:hover {
  background-color: #ff7a7a;
}

.buttons{
  display: flex;
  width: 280px;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.dislikebutton, .likebutton, .askbutton{
  border-radius: 100%;
  background-color: white;
  display: flex;
  justify-content: center;  
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: transform 0.7s;

}

.dislikebutton{
  width: 54px;
  height: 54px;
}

.dislikebutton i{
  color: #8E8E93;
}

.dislikebutton:hover{
  filter: drop-shadow(0px 4px 2px #1787ff24);
}

.likebutton{
  width: 54px;
  height: 54px;
}

.likebutton i{
  color: #FF375F;
}

.likebutton:hover{
  filter: drop-shadow(0px 4px 2px #ff375f2c);
}

.askbutton{
  width: 40px;
  height: 40px;
}

.askbutton:hover{
  filter: drop-shadow(0px 4px 2px #199a6b3e);
}

.p1p1{
  color: #000;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 30px;
}


.p2p2{
  color: #000;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-top: 20px;
}

.fisttext{
  color: #000;
font-size: 28px;
font-style: normal;
font-weight: 800;
margin-top: 30px;
}

.secondtext{
  color: #000;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-top: 30px;

}