.leave-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.leave-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.leave-message-container {
    text-align: left; /* 이 섹션의 텍스트를 좌측 정렬 */
    margin: 40px 10px;
}

.leave-message {
    font-size: 25px;
    margin-bottom: 10px;
}

.leave-reason {
    font-size: 18px;
    line-height: 2;
    margin-top: 20px;
}

.leave-warning {
    font-size: 0.9em;
    color: red;
    margin-top: 30px;
    margin-bottom: 15px;
}

.leave-agreement {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.leave-agreement h3 {
    margin: 15px 0px;
    font-weight: bold;
}

.leave-agreement p {
    margin-top: 20px;
    margin-bottom: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 우측 정렬을 위해 추가 */
    margin-bottom: 10px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px; /* 체크박스와 텍스트 간의 간격 설정 */
}

.id-check {
    margin-bottom: 20px;
}

.displayed-id {
    background-color: #ffe5e5;
    color: #808080;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    outline: none;
    outline-color: #ff9494;
    transition-duration: 0.3s;
}

.input-field:active,
.input-field:focus,
.input-field:hover {
    border: 1px solid #ff9494;
}

.leave-form {
    display: flex;
    justify-content: center;
}

.leave-button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: not-allowed;
    background-color: #d3d6db;
    transition: background-color 0.3s ease;
}

.leave-button.active {
    background-color: #ff0000;
    cursor: pointer;
}

.leave-button.inactive {
    background-color: #d3d6db;
}

.toptop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.backButton i {
    font-size: 24px;
    color: rgb(133, 133, 133);  
    padding-right: 20px;
}
