.mypageContainer {
  min-width: 360px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.boxTitle{
  margin-bottom: 15px;
  margin-right: 0.5rem;
}

.userInfoBox, .matchingModeBox{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.settingsBox{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userInfoBox {
  display: flex;
  flex-direction: column;
}

.userInfoTop {
  display: flex;
}

.profileImageContainer {
  flex-shrink: 0;
  margin: auto 10px;
  position: relative;
}

.userInfoRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 10px;
}

.nicknameContainer, .nameContainer, .buttonGroup {
  margin-bottom: 7px;
}

.userInfoBottom {
  margin-top: 10px;
}

.profileImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.nicknameContainer {
  display: flex;
  align-items: center;
}

.editNicknameButton {
  background: none;
  border: none;
  margin-left: 8px;
  cursor: pointer;
  color: #B3B3B3;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.nameContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3px;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}

.buttonGroup button {
  height: 35px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  color: #808080;
  transition: background-color 0.3s ease;
}

.inviteContainer {
  display: flex;
  gap: 10px;
}

.inviteInput, .inviteButton {
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
}

.inviteInput {
  width: 40px;
  flex-grow: 1;
  border: 1px solid #FF9494;
  border-radius: 5px;
}

.inviteButton {
  background-color: #FF9494;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.matchingModeBox {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}

.matchingModeBottom {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.editCardButtonContainer{
  display: flex;
}

.introButton {
  color: white;
  background-color: #FF9494;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}



.imageEditButton{
  background: none;
  border: none;
  color: black;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

.imageEditButton {
  background: none;
  border: none;
  color: black;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
  padding: 4px 4px 0;
  bottom: 0;
  right: 0;
  background-color: #008281;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);;
  filter: invert(1);
}

.imageEditButton{
  font-family: inherit;
  position: absolute;
  margin-top: 20px;
}

.cardEditButton{
  background: none;
  height: fit-content;
  background: none;
  border: none;
  color: #FF9494;
  margin-top: 2px;
}

.nameText {
  margin-bottom: 0;
}

.searchIdText {
  font-size: small;
  margin-bottom: 0;
  color: #808080;
}

/* New styles for conditional rendering */
.noCardMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #e0e0e0;
  color: #757575;
  border-radius: 10px;
  font-size: 16px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px; /* 모달 박스 너비 */
  height: 170px; /* 모달 박스 높이 */
  text-align: center;
  z-index: 1001; /* 오버레이보다 높은 z-index 설정 */
  pointer-events: auto; /* 모달 내부에 클릭 이벤트 허용 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.7); /* 어두운 오버레이 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; /* 모달보다 낮은 z-index */
  pointer-events: auto; /* 오버레이에 클릭 이벤트 허용 */
}

.modal h2 {
  font-size: 20px;
  font-weight: 300;
  color: #4a4a4a;
  margin-bottom: 30px; /* h2 아래의 여백을 30px로 설정 */
  line-height: 1.5; /* 줄 간격을 설정하여 읽기 쉽게 만듦 */
  word-break: keep-all; /* 긴 단어가 줄바꿈될 때 전체 단어가 잘리지 않도록 설정 */
  white-space: normal; /* 자동으로 줄바꿈되도록 설정 */
}

.modal button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.modal button:first-of-type {
  background-color: #e0e0e0;
  color: #808080;
  margin-right: 30px; /* 두 버튼 사이의 간격 */
}

.modal button:first-of-type:hover {
  background-color: #b7b7b7;
}

.modal button:last-of-type {
  background-color: #FF9494;
  color: white;
}

.modal button:last-of-type:hover {
  background-color: #ff7a7a;
}

.imageStackContainer {
  position: relative;
  width: 260px;
  height: 320px;
  cursor: pointer;
  border-radius: 16px;
  margin-bottom: 30px;
}

.imageStackContainer img {
height: 320px;
background-color: white;
border-radius: 16px 16px 0px 0px;
filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));

}

.backContent{
  width: 260px;
  height: 350px;
  background-color: white;
  border-radius: 16px 16px 0px 0px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardbottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 70px;
  background-color: #FFFFFF;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
  border-radius: 0px 0px 16px 16px;
  padding: 0 20px;
}

.cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease, z-index 0s ease 0.5s;
}

.position0 {
  z-index: 3;
  transform: translateY(30px) scale(1);
}

.position1 {
  z-index: 2;
  transform: translateY(5.5px) scale(0.95);
}

.position2 {
  z-index: 1;
  transform: translateY(-19px) scale(0.9);
}

.imageStackContainer:active .cardImage {
  transition: transform 0.2s ease;
}

.imageStackContainer:hover .position1, 
.imageStackContainer:hover .position2 {
  transform: translateY(30px) scale(0.98);
}

.imageStackContainer:hover .position0 {
  transform: translateY(30px) scale(1);
}

.cardcontain{
background-color: white;
}


.cardbuttomtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-family: 'Pretendard', sans-serif;
  margin-left: 5px;
}

.cardbuttomtext p:first-child {
  font-size: 15px;
  font-weight: 400;
  color: #4A4A4A;
  margin-bottom: 5px;
}

.cardbuttomtext p:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: #9B9B9B;
  margin: 0;
}

/* From Uiverse.io by andrew-demchenk0 */ 
.flipbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  border: none;
  background: #ff362b34;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease; /* 색상 변화와 배경 변화에 대한 전환 */
  margin-bottom: 5px;
  margin-right: 5px;

}

.fliplabel {
  line-height: 20px;
  font-size: 17px;
  color: #FFE3E1;
  font-family: sans-serif;
  letter-spacing: 1px;
  transition: color 0.3s ease; /* 텍스트 색상 변화에 대한 전환 */

}

.flipbutton:hover {
  background: #ff362b52;
  
}

.flipbutton:hover .flipicon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.tagContainer, .introContainer {
  margin-top: 20px;
  border-radius: 5px;
  width: 90%;
  height: fit-content;
  border: 3px dashed #FF9494;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.tag {
  display: inline-block;
  font-family: 'Pretendard', sans-serif;
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 5px 10px;
  margin: 3px;
  font-size: 12px;
  color: #555;
}

.sectionTitle {
  font-family: 'Pretendard', sans-serif;
  font-size: small;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.8rem;
  text-align: left;
}

.longtext1{
  overflow-y: auto; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.longtext2{
  text-align: left;
  font-family: 'Pretendard', sans-serif;
  font-size: 14px;
  overflow-y: auto; 
}

.spinner {
  margin: 180px auto 0 ;
  width: 100%;
  text-align: center;
}

.spinner .heart {
  width: 50px;
  height: 45px;
  display: inline-block;
  opacity: 0.8;
  animation: bouncedelay 1.4s infinite ease-in-out;
  animation-fill-mode: both; /* Prevent first frame from flickering when animation starts */
}

.heart:before, .heart:after {
  position: absolute;
  content: "";
  left: 25px;
  top: 0;
  width: 25px;
  height: 40px;
  background: #ff4d4d;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.spinner .heart1 {
  animation-delay: -0.32s;
}

.spinner .heart2 {
  animation-delay: -0.16s;
}

@keyframes bouncedelay {
  0%, 80%, 100% {
      transform: scale(0.0);
  }
  40% {
      transform: scale(1.0);
  }
}

.loadingtext {
  color: #ff4d4d;
}

.dot1, .dot2, .dot3 {
  opacity: 0;
  animation: dot-blink 1.5s infinite ease-in-out;
}

.dot1 {
  animation-delay: 0s;
}

.dot2 {
  animation-delay: 0.3s;
}

.dot3 {
  animation-delay: 0.6s;
}

@keyframes dot-blink {
  0%, 20% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.settingsButton{
  display: flex;
  justify-content: space-between;
  background: none;
  border: none;
  font-size: 1rem;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 30px;
}

#userGuideButton{
  border: none;
}

.footer{
  display: flex;
  flex-direction: row-reverse;
}

.logoutButton {
  background: none;
  border: none;
  color: #808080;
  text-decoration: underline;
  font-size: small;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}
