/* KakaoFriendsList.module.css */

.container {
  min-width: 320px;
  min-height: 600px;
  padding: 0px 14px 20px;
  background-color: #fffaf0;
}

.friendsList {
  display: flex;
  flex-direction: column;
}

.friendItem {
  display: flex;
  align-items: center;
  margin: 0px 15px 25px;
}

.friendItem:last-child {
  margin-bottom: 0;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.friendItem .profileImage {
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
}

.myAcquaintanceButton {
  margin-left: auto;
  padding: 5px 10px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 6px;
  color: #808080;
  cursor: default;
  width: 90px; /* 버튼의 너비 */
  height: 30px; /* 버튼의 높이 */
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1); /* 버튼에 그림자 추가 */
}

span {
  font-size: 18px;
  font-weight: 500;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
}
