.friendsContainer {
  padding: 20px;
}

.tabNavigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabButton {
  flex: 1;
  padding: 10px 0;
  text-align: center;
  background: none;
  border: none;
  font-size: 17px;
  /* font-weight: bold; */
  cursor: pointer;
  color: #b0b0b0;
  position: relative;
  outline: none;
}

.tabButton.active {
  color: #FF9494;
}

.tabButton::after {
  content: '';
  display: block;
  margin: 10px auto 0 auto;
  height: 3px;
  width: 0%;
  background: transparent;
  transition: width 0.3s, background-color 0.3s;
}

.tabButton.active::after {
  width: 100%;
  background: #FF9494;
}

.requestSection {
  margin-top: 20px;
}

.requestText {
  font-size: 18px;
  color: #b0b0b0;
  margin-bottom: 10px;
  text-align: center;
}

.requestBox {
  background-color: #FF9494;
  border-radius: 10px;
  padding: 16px 26px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
}

.requestItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profilePicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.requestInfo, .friendInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.requestButton, .friendButton, .acquaintanceButton {
  height: 30px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 13px;
}

.requestButton {
  color: #FF9494;
}

.friendButton, .acquaintanceButton{
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}
 
.friendButton {
  background-color: #C1C1C1;
  color : #ffffff
}

.acquaintanceButton {
  background-color: #EDF2F7;
  color : #868686
}

.friendList {
  margin-top: 10px;
  padding: 0 13px;
}

.friendItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profilePicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
