.container {
  min-width: 360px;
  min-height: 600px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.infoContainer {
  border-radius: 40px 40px 0 0;
  background-color: #FFFFFF;
  padding: 20px 0 0 0;
  box-shadow: -6px 0px 47px 27px rgba(217, 217, 217, 0.26);
  width: 100%;
  max-width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  box-sizing: border-box;
}

.title {
  font-family: 'Pretendard', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #505965;
  position: absolute;
  top: 60px;
  left: 30px;
}

.description {
  font-family: 'Pretendard', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #505965;
  position: absolute;
  top: 100px;
  left: 30px;
  margin-bottom: 20px;
}

.inputGroup {
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
  border-bottom: 0.5px solid #dedede;
}

.inputGroup:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.inputTitle {
  display: block;
  font-family: 'Pretendard', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #505965;
  margin-bottom: 20px;
}

.nameDescription {
  font-family: 'Pretendard', sans-serif;
  font-size: 14px;
  color: #505965;
  margin-right: 40px;
  margin-bottom: 20px;
}

.inputGroup input[type="text"] {
  width: calc(100% - 40px);
  height: 59px;
  padding: 10px;
  border: 1px solid #dedede;
  font-size: 18px;
  font-family: 'Pretendard', sans-serif;
  outline: none;
}

.birthContainer {
  display: flex;
  gap: 10px;
  margin-right: 30px;
}

.birthYear {
  width: 50px;
}

.birthMonth {
  width: 60px;
}

.birthDay {
  width: 60px;
}

.genderContainer {
  display: flex;
  justify-content: center;
  gap: 20px; /* 두 라디오 컨테이너 간의 간격 */
  margin-right: 30px;
}

.radioLabel {
  font-family: 'Pretendard', sans-serif;
  font-size: 20px;
  color: #505965;
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s;
  display: flex;
  align-items: center; /* 라벨 텍스트 내부의 아이콘이나 다른 콘텐츠도 중앙 정렬 */
}

input[type="radio"] {
  display: none;
}

.radioLabel:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border: 6px solid #dedede;
  border-radius: 50%;
  background-color: white;
  transition: border-color 0.3s, background-color 0.3s;
}

input[type="radio"]:checked + .radioLabel:before {
  border-color: #505DB9;
}

.submitButton {
  background: none;
  border: none;
  color: #505965;
  font-family: 'Pretendard', sans-serif;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  transition: color 0.3s;
  position: absolute;
  right: 31px;
  bottom: 31px;
}

.submitButton:disabled {
  color: #C6CDD5;
  cursor: not-allowed;
}

input::placeholder {
  color: #C8C8C8;
}

.error {
  color: red;
  font-size: 13px;
  margin-left: 5px;
  margin-top: 15px;
  width: calc(100% - 40px);
}
