.container {
  position: relative; /* 컨테이너를 기준으로 자식 요소 위치 고정 */
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  position: absolute;
  left: 30px;
  top: 50px;
  font-size: 25px;
  color: #505965;
  margin: 0;
}

.text {
  position: absolute;
  left: 31px;
  top: 90px; /* title 아래에 위치 */
  font-size: 18px; /* 필요에 따라 크기 조정 가능 */
  color: #505965;
  margin: 0;
}

.cardContainer {
  background: #ffffff;
  border-radius: 40px 40px 0 0;
  box-shadow: -6px 0px 47px 27px rgba(217, 217, 217, 0.26);
  padding: 20px;
  width: 100%;
  max-width: none;
  height: 669px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
