  /* @media (min-width: 400px) {
      .App {
        width: 100%;
      }
  }

  .App {
      width: 100%;
      max-width: 400px;
      min-height: 100vh;
      margin: 0 auto;
      position: relative;
      overflow-y: auto;
      background-color: #FFFBF4;
  } */


  .App {
      width: 100%;
      max-width: 100%;
      min-height: 100vh;
      margin: 0 auto;
      position: relative;
      overflow-y: auto;
      background-color: #FFFBF4;
      padding-bottom: 86px;
  }
  @media (min-width: 400px) {
      .App {
        max-width: 400px;
      }
  }

  @font-face {
    font-family: 'Pretendard';
    src: url('./assets/fonts/Pretendard-Regular.woff2') format('woff2'),
         url('./assets/fonts/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./assets/fonts/Pretendard-Bold.woff2') format('woff2'),
         url('./assets/fonts/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'Pretendard', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
