  /* @media (min-width: 400px) {
      .App {
        width: 100%;
      }
  }
*/
 .App {
      /* width: 100%;
      max-width: 400px;
      min-height: 100vh;
      margin: 0 auto;
      position: relative;
      overflow-y: auto;
      background-color: #FFFBF4; */
      box-shadow: 0 14px 28px #0000001a, 0 10px 10px #0000001a;
  }


  .App {
      width: 100%;
      max-width: 100%;
      min-height: 100vh;
      margin: 0 auto;
      position: relative;
      overflow-y: auto;
      background-color: #FFFBF4;
      padding-bottom: 86px;
  }
  @media (min-width: 450px) {
      .App {
        max-width: 450px;
      }
  }

  @font-face {
    font-family: 'Pretendard';
    src: url('./assets/fonts/Pretendard-Regular.woff2') format('woff2'),
         url('./assets/fonts/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./assets/fonts/Pretendard-Bold.woff2') format('woff2'),
         url('./assets/fonts/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'Pretendard', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


*::-webkit-scrollbar {
  width: 1.2vh; /* 스크롤바 너비 */
}

*::-webkit-scrollbar-track {
  background: #ffffff1f; /* 스크롤바 트랙 배경 */
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; /* 스크롤바 색상 */
  border-radius: 6px; /* 스크롤바 둥글기 */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #9d9d9d; /* 스크롤바 호버 색상 */
}